<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Myblog</title>
	<meta name="description" content="Reason's to believe in God.">
	<meta name="author" content="Steve Cervera">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/favicon.png">

  <%= stylesheet_link_tag    'application', media: 'all', debug: true %>
  <%= javascript_include_tag 'application', debug: true %>

<!--   <%#= javascript_include_tag 'application', "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>
</head>