	<header id="header">
		<div class="container clearfix">
			<div class="logo"><%= link_to 'Deomai', root_path %></a></div><!-- End logo -->
			<div class="header-follow">
				<div class="header-follow-a">Follow Me</div>
				<div class="follow-social">
					<i class="fa fa-caret-up"></i>
					<ul>
						<li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
						<li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
						<!-- <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i>Dribbble</a></li>
						<li class="social-google"><a href="#"><i class="fa fa-google-plus"></i>Google Plus</a></li>
						<li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i>Vimeo</a></li> -->
						<li class="social-youtube"><a href="#"><i class="fa fa-youtube-play"></i>Youtube</a></li>
					</ul>
				</div><!-- End follow-social -->
			</div><!-- End header-follow -->
			<div class="header-search">
				<div class="header-search-a"><i class="fa fa-search"></i></div>
			</div><!-- End header-search -->
			<nav class="navigation">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><a href="#">About Us</a></li>
					<li><a href="archives.html">Recommended Reading</a></li>
					<!-- Displays login status -->
					<% if user_signed_in? %>
					  <li>
					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
					  </li>
					<% else %>
					  <li>
					  <%= link_to('Login', new_user_session_path)  %>  
					  </li>
					<% end %>
				</ul>
			</nav><!-- End navigation -->
		</div><!-- End container -->
	</header><!-- End header -->