<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
	<%= render "/shared/header" %>
</head>
<body>
	<%= render "/shared/navbar" %>
	<div class="row">
		<div class="col-md-12 main-content">
			<div class="post-wrap">
				<%= yield %>
			</br>
			</div>
		</div>
	</div>
	<!-- Footer starts here -->
	<%= render "/shared/footer" %>
	<!-- Footer ends here -->
</body>
</html>
